.container {
  width: 1440px;
  margin: 0 auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: #1b3a6b;
}

.left {
  display: flex;
  gap: 54px;
}

.logoWrapper {
  padding: 18px 54px;
  color: white;
}

.menuWrapper {
  display: flex;
  padding: 19.5px 22px;
  gap: 44px;
  color: #93c5fd;
}

.right {
  display: flex;
  color: white;
  padding: 20px 54px;
  gap: 10px;
}

.contentContainer {
  display: flex;
}

.sideBar {
  width: 210px;
  height: 884px;
  background: #1e293b;
}

.sideContainer {
  width: 210px;
  display: grid;
  background: #1e293b;
  color: white;
}

.sideContainer li {
  padding: 10px 44px;
  font-size: 12px;
  color: #94a3b8;
  font-size: 12px;
}

.sideTitle {
  background: #162032;
  color: #60a5fa;
  width: 210px;
  height: 40px;
  font-weight: bold;
  padding: 12.5px 37px;
  font-size: 12px;
}

.mainContainer {
  display: flex;
  flex: 1;
  width: 100%;
  background: #f1f5f9;
  min-height: 100vh;
}

.Now {
  color: #2563eb;
}

.homeIconWrapper {
  display: flex;
  color: #6b7280;
  padding: 21.5px 22.5px;
  gap: 10.5px;
  font-size: 12px;
}

.homeIconWrapper img {
  margin-top: 2px;
  width: 12px;
  height: 12px;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
}

.downloadBtn {
  display: flex;
  padding: 16px 20px;
  background-color: white;
  color: #162032;
  cursor: pointer;
  border: solid #d1d5db 1px;
  border-radius: 6px;
  font-size: 13px;
  gap: 6px;
  line-height: 1px;
}
.downloadBtn img {
  width: 10px;
  height: 10px;
  margin-top: -5;
}

.mainBtn {
  display: flex;
  gap: 8px;
  height: 24px;
  align-items: center;
  margin-top: 18px;
  justify-content: flex-end;
}

.flexHorizontalCenter {
  display: flex;
  align-items: center;
}

.newloadBtn {
  display: flex;
  padding: 16px 20px;
  background-color: #1b3a6b;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-size: 13px;
  gap: 6px;
  font-weight: bold;
  line-height: 1px;
  margin-right: 20px;
}

.newloadBtn img {
  width: 10px;
  height: 10px;
  margin-top: -5px;
}

.mainTitle {
  padding-left: 20px;
  padding-bottom: 21px;
}

.mainBar {
  width: 100%;
  padding: 0 24px 24px 24px;
}

.mainTitle span {
  font-size: 20px;
  font-weight: bold;
}

.mainTitle p {
  color: #6b7280;
}

.searchTitle {
  display: flex;
  margin-top: 10px;
  margin-left: 16px;
  align-items: center;
  gap: 8px;
}

.searchTitle img {
  width: 14px;
  height: 14px;
}

.AttendanceManager {
  display: flex;
  width: 1190px;
  height: 62px;
  background-color: white;
  border-radius: 8px;
}

.leftBtn {
  width: 34px;
  height: 34px;
  margin: 14px 0 14px 20px;
  background-color: #f8fafc;
  border: 1px solid #d1d5db;
  border-radius: 6px 0 0 6px;
  cursor: pointer;
}

.leftBtn img {
  padding-left: 10px;
}

.calendar {
  display: flex;
  width: 183px;
  height: 34px;
  border: 1px solid #d1d5db;
  background-color: white;
  font-weight: bold;
  color: #111827;
  text-align: center;
  justify-content: center;
  padding-top: 7px;
  font-size: 14px;
  margin-top: 14px;
}

.calendar img {
  width: 13px;
  height: 13px;
  margin-top: 2px;
  margin-right: 9px;
}

.rightBtn {
  width: 34px;
  height: 34px;
  margin-top: 14px;
  background-color: #f8fafc;
  border: 1px solid #d1d5db;
  border-radius: 0 6px 6px 0px;
  cursor: pointer;
}

.rightBtn img {
  padding-left: 10px;
}

.todayBox {
  margin-left: 16px;
  display: flex;
  justify-content: center;
  margin-top: 14px;
  width: 71px;
  height: 34px;
  background-color: #eff6ff;
  border: 1px solid #bfdbfe;
  font-size: 13px;
  font-weight: bold;
  color: #2563eb;
  border-radius: 6px;
  padding-top: 9px;
  cursor: pointer;
}

.todayBox img {
  width: 13px;
  height: 13px;
  margin-right: 7px;
}

.inputGroup {
  display: flex;
}

.inputGroup label {
  margin: 23px 9px 0 16px;
  font-size: 13px;
  font-weight: bold;
  color: #374151;
}

.selectInput {
  margin-top: 14px;
  width: 160px;
  height: 34px;
  background-color: white;
  border: solid 1px#D1D5DB;
  border-radius: 6px;
  font-size: 13px;
  color: #374151;
  padding-left: 12px;
}

.searchInput {
  width: 108px;
  height: 34px;
  margin-top: 14px;
  padding-left: 25px;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 400;
  margin-right: 75px;
}

.categoryBox {
  display: flex;
}

.filterBox {
  display: flex;
  justify-content: flex-end;
  gap: 8;
  padding-top: 18.5px;
  font-size: 12px;
  font-weight: 900;
}

.filterBox li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterBox li:nth-child(1) {
  color: #374151;
  background-color: #f1f5f9;
  width: 88px;
  height: 25px;
  border-radius: 10px;
}

.filterBox li:nth-child(2) {
  color: #1d4ed8;
  background-color: #eff6ff;
  width: 77px;
  height: 25px;
  border-radius: 10px;
}

.filterBox li:nth-child(3) {
  color: #ea580c;
  background-color: #fff7ed;
  width: 70px;
  height: 25px;
  border-radius: 10px;
}

.filterBox li:nth-child(4) {
  color: #e11d48;
  background-color: #fff1f2;
  width: 70px;
  height: 25px;
  border-radius: 10px;
}

.filterBox li:nth-child(5) {
  color: #16a34a;
  background-color: #f0fdf4;
  width: 70px;
  height: 25px;
  border-radius: 10px;
}

.attendanceBox {
  display: flex;
  width: 340px;
  height: 46px;
  background-color: #f8fafc;
  border: 1px solid #e5e7eb;
  border-radius: 6px 6px 0 0;
  align-items: center;
  padding-left: 16px;
  color: #1b3a6b;
  font-weight: 700;
  font-size: 14px;
}

.attendanceBox span {
  display: flex;
  width: 57px;
  height: 22px;
  color: #1d4ed8;
  background-color: #dbeafe;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  margin-left: 173px;
  font-size: 11px;
}

.attendanceBox img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.red {
  color: #ef4444;
  margin-left: 4px;
}

.selectEmployee {
  display: flex;
  margin: 16px 0 0 16px;
}

.selectEmployee p {
  color: #374151;
  font-weight: 900;
  font-size: 13px;
}

.employeeSelectBox {
  margin-left: 16px;
  width: 308px;
  height: 36px;
  background-color: white;
  border: 1px solid #2563eb;
  border-radius: 6px;
  font-size: 13px;
  color: #111827;
}

.attendanceStatus p {
  color: #374151;
  font-weight: 900;
  font-size: 13px;
  padding: 14px 0 0 16px;
}

.attendanceStatus {
  display: flex;
  justify-content: center;
}

.attendanceStatus ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0;
  list-style: none;
}

.attendanceStatus p {
  grid-column: span 3;
  margin: 0;
}

.attendanceStatus li {
  width: 98px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid pink;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
}

.attendanceStatus li:nth-child(2) {
  border-color: #1b3a6b;
  color: #1b3a6b;
}

.attendanceStatus li:nth-child(2):hover {
  background-color: #1b3a6b;
  color: white;
  font-weight: bold;
}

.attendanceStatus li:nth-child(3) {
  color: #ea580c;
  border-color: #fed7aa;
}

.attendanceStatus li:nth-child(3):hover {
  background-color: #ea580c;
  color: white;
  font-weight: bold;
}

.attendanceStatus li:nth-child(4) {
  color: #6b7280;
  border-color: #d1d5db;
}

.attendanceStatus li:nth-child(4):hover {
  background-color: #6b7280;
  color: white;
  font-weight: bold;
}

.attendanceStatus li:nth-child(5) {
  color: #e11d48;
  border-color: #fecaca;
}

.attendanceStatus li:nth-child(5):hover {
  background-color: #e11d48;
  color: white;
  font-weight: bold;
}

.attendanceStatus li:nth-child(6) {
  border-color: #bbf7d0;
  color: #16a34a;
}

.attendanceStatus li:nth-child(6):hover {
  background-color: #16a34a;
  color: white;
  font-weight: bold;
}

.attendanceStatus li:nth-child(7) {
  border-color: #bae6fd;
  color: #0284c7;
}

.attendanceStatus li:nth-child(7):hover {
  background-color: #0284c7;
  color: white;
  font-weight: bold;
}

.attendanceStatus li:nth-child(8) {
  border-color: #ddd6fe;
  color: #7c3aed;
}

.attendanceStatus li:nth-child(8):hover {
  background-color: #7c3aed;
  color: white;
  font-weight: bold;
}

.attendanceStatus li:nth-child(9) {
  border-color: #d1d5db;
  color: #6b7280;
}

.attendanceStatus li:nth-child(9):hover {
  background-color: #6b7280;
  color: white;
  font-weight: bold;
}

.attendanceStatus li:nth-child(10) {
  border-color: #d1d5db;
  color: #6b7280;
}

.attendanceStatus li:nth-child(10):hover {
  background-color: #6b7280;
  color: white;
  font-weight: bold;
}

.timeContainer {
  display: flex;
  margin: 14px 0 6px 16px;
  gap: 8px;
}

.timeGroup p {
  display: flex;
  font-size: 13px;
  font-weight: 900;
  color: #374151;
}

.timeGroup input {
  width: 150px;
  height: 36px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 13px;
  color: #111827;
  padding: 10px 0 10px 12px;
  margin-bottom: 14px;
}

.over {
  padding: 10px 0 10px 16px;
  font-size: 13px;
  font-weight: 900;
  color: #374151;
  margin-bottom: 6px;
}

.gray {
  color: #9ca3af;
  font-weight: 400;
  margin-left: 8px;
}

.overInput {
  display: flex;
  width: 112px;
  height: 36px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  margin-left: 14px;
  font-size: 13px;
  padding-left: 12px;
}

.totalTime {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 36px;
  background-color: #f0fdf4;
  border: 1px solid#BBF7D0;
  border-radius: 6px;
  color: #16a34a;
  font-weight: bold;
  margin-left: 8px;
}

.overTime {
  display: flex;
  align-items: center;
}

.overInput:global(::-webkit-datetime-edit-ampm-field) {
  display: none !important;
}

.overInput:global(::-webkit-datetime-edit-fields-wrapper) {
  display: flex;
  justify-content: center;
  width: 100%;
}

.remarks {
  padding: 14px 6px 10px 16px;
}

.remarks p {
  font-size: 13px;
  color: #374151;
  font-weight: bold;
}

.remarkBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 15px;
}

.remarkBox p {
  margin: 0;
  font-weight: bold;
}

.remarkInput {
  width: 308px;
  height: 54px;
  padding: 10px 12px;
  font-size: 13px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  background-color: #fff;
  color: #9ca3af;

  resize: none;
}

.btnBox {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}

.reset {
  width: 85px;
  height: 36px;
  border: 1px solid #d1d5db;
  color: #374151;
  font-weight: 500;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
}

.save {
  width: 85px;
  height: 36px;
  border: 1px solid #d1d5db;
  background-color: #1b3a6b;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  font-size: 13px;
  margin-right: 16px;
  cursor: pointer;
}

.pageBody {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-top: 20px;
  width: 100%;
}

.attendanceFormBox {
  width: 340px;
  height: 610px;
  background-color: white;
  border-radius: 6px 6px 6px 6px;
  border: 1px solid #d1d5db;
}
.managementList {
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  height: 470px;
}

.managementBox {
  display: flex;
  align-items: center;
  height: 46px;
  background-color: #f8fafc;
  padding-left: 16px;
}

.managementBox p {
  font-size: 14px;
  font-weight: bold;
  color: #1b3a6b;
  margin-left: 8px;
}

.totalBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  gap: 8px;
}

.totalCount {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  width: 65px;
  height: 25px;
  border-radius: 50px;
  background-color: #eff6ff;
  color: #2563eb;
  font-weight: bold;
  font-size: 11px;
}

.bulk {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  width: 86px;
  height: 30px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f0fdf4;
  border: 1px solid #bbf7d0;
  color: #16a34a;
}
.bulk img {
  width: 12px;
  height: 12px;
  margin-right: 1.5px;
}

.checkBox {
  width: 16px;
  height: 16px;
  background-color: #1b3a6b;
  border-radius: 4px;
}

.rowList {
  display: grid;
  grid-template-columns: 50px repeat(10, 1fr);
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f1f5f9;
  font-weight: bold;
  color: #6b7280;
  font-size: 12px;
  width: 838px;
  height: 38px;
}

.rowList li {
  text-align: center;
}

.checkBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.checkBox img {
  width: 10px;
  height: 10px;
}

.row {
  display: grid;
  grid-template-columns: 40px repeat(10, 1fr);
  font-size: 12px;
  border-bottom: 1px solid #e5e7eb;
  padding: 13.5px 0 13.5px 0;
  color: #374151;
  margin-left: 25px;
}

.box {
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #d1d5db;
}
.box:hover {
  background-color: #1b3a6b;
}
.manageColumn {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.manageColumn button {
  height: 20px;
  width: 37px;
  border-radius: 4px;
  font-size: 11px;
  cursor: pointer;
  border: none;
}

.editBtn {
  background-color: #eff6ff;
  color: #2563eb;
}
.delBtn {
  background-color: #fee2e2;
  color: #ef4444;
  margin-right: 13px;
}
.register {
  width: 50px;
  height: 22px;
  background-color: #fef9c3;
  color: #ca8a04;
  margin-right: 13px;
}

.present {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 20px;
  border-radius: 10px;
  color: #1d4ed8;
  background-color: #eff6ff;
  font-weight: bold;
}
.late {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 20px;
  border-radius: 10px;
  color: #ea580c;
  background-color: #fff7ed;
  font-weight: bold;
}
.orange {
  color: #ea580c;
  font-weight: 900;
}
.orangeText {
  color: #ea580c;
}
.leave {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 20px;
  border-radius: 10px;
  color: #16a34a;
  background-color: #f0fdf4;
  font-weight: bold;
}
.greenText {
  color: #16a34a;
}

.trip {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 20px;
  border-radius: 10px;
  color: #7c3aed;
  background-color: #f5f3ff;
  font-weight: bold;
}

.purpleText {
  color: #7c3aed;
  font-weight: 900;
}

.grayText {
  color: #374151;
}
.halfDay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 20px;
  border-radius: 10px;
  color: #0284c7;
  background-color: #e0f2fe;
  font-weight: bold;
}
.skyText {
  color: #0284c7;
}

.rowYellow {
  display: grid;
  width: 100%;
  grid-template-columns: 40px repeat(10, 1fr);
  font-size: 12px;
  border-bottom: 1px solid #e5e7eb;
  padding: 13.5px 0 13.5px 0;
  padding-left: 25px;
  color: #374151;
  background-color: #fffbeb;
}
.unlisted {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 20px;
  border-radius: 10px;
  color: #ca8a04;
  background-color: #fef9c3;
  font-weight: bold;
}

.paginationWrap {
  display: flex; /* 안의 글자와 페이지 번호를 가로로 나란히 배치 */
  align-items: center; /* 글자와 페이지 번호의 높이를 똑같이 맞춤 */
  justify-content: space-between; /* 글자는 왼쪽 끝, 번호는 오른쪽 끝으로 찢기 */

  width: 100%; /* 가로 전체 폭 차지 */
  margin-top: 15px;
}

.totalList {
  display: grid;
  width: 100%;
  height: 44px;
  grid-template-columns: repeat(10, 1fr);

  align-items: center;
  justify-content: center;
  background-color: #f0f7ff;
  border-bottom: 1px solid #bfdbfe;
}

.totalList li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  font-size: 12px;
  color: #374151;
  border-right: 1px solid #bfdbfe;
}

.smallText {
  display: flex;
  font-size: 10px;
  color: #9ca3af;
}
.totalList p {
  color: #1b3a6b;
  font-weight: 900;
}
.totalHour {
  color: #7c3aed;
  font-weight: 900;
}
.total {
  color: #1b3a6b;
  font-weight: 900;
}

.pageList {
  display: flex;
  justify-content: flex-end;
  gap: 4;
  margin-bottom: 20px;
  margin-right: 16px;
}

.pageList li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #b9c3d3;
  width: 28px;
  height: 28px;
}

.pageList li:hover {
  color: white;
  font-weight: 900;
  background-color: #1b3a6b;
}

.totalText {
  width: 100%;
  height: 46px;
  padding-left: 16px;
  justify-content: center;
  color: #6b7280;
  font-size: 13px;
}
